button {
    background-color: #eee;
    border: none;
    padding: 1rem;
    font-size: 4em;
    font-weight: bold;
    width: 170px;
    height: 170px;
    color: black;
    cursor: pointer;

    font-family:Verdana, Geneva, Tahoma, sans-serif;
   }
   
   button:active {
    transform: translateY(0.2rem);
   }
   
   button:hover:not(:disabled) {
    background: darkslateblue;
   }
   
   button:disabled {
    cursor: auto;
    color: grey;
   }