button {
    background-color: #eee;
    border: none;
    padding: 1rem;
    font-size: 4em;
    font-weight: bold;
    width: 13vw; /* 170 */
    height: 13vw;
    color: black;
    cursor: pointer;

    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
   
button:active {
    transform: translateY(0.2rem);
}
   
button:hover:not(:disabled) {
    background: darkslateblue;
}
   
button:disabled {
    cursor: auto;
    color: grey;
}

@media screen and (max-width: 770px){
    button{
        width: 20vw;
        height: 20vw;

        font-size: 2.5em;
    }
}

@media screen and (max-width: 370px){
    button{
        width: 25vw;
        height: 25vw;

        font-size: 2em;
    }
}